api/runtimeconfig.json
database
database/currency.json
database/items.json
database/isotokens.json
database/levels.json
database/presence.json
database/user_data.json
database/weather.json
database/automod.json
*.log
*.pyc
logs
logs/currency.log
logs/error-log.txt
logs/info-log.txt
logs/startup-log.txt
config
config/settings.json
config/commands.json
config/shop.json
config/words.json
__pycache__
*.bak
venv
